* {padding: 0px; margin: 0px;}

body{
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: +1;
}

/* kiri */
nav .kiri{
    width: 900px;
    float: left;
    display: inline;
    padding-top: 30px;
}

nav .kiri .gambar img{
    width: 200px;
    height: auto;
    border-right: 2px solid black;
    padding-right: 5px;
    float: left;
}

nav .kiri .tombol ul li{
    float:left;
    list-style: none;
    padding-top: 30px;
}

nav .kiri .tombol ul li a{
    margin-right: 5px;
    font-size: 20px;
    text-decoration: none;
    color:black;
    padding: 3px 15px;
}

nav .kiri .tombol ul li ul {
    opacity: 0;
    transition: all 60ms ease-in;
    visibility: hidden;
}

nav .kiri .tombol ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

nav .kiri .tombol ul li ul{
    position:absolute;
}

nav .kiri .tombol ul li ul li{
    float: none;
    position: relative;
    background-color: white;
    padding-bottom: 10px;
    z-index: +1;
}

nav .kiri .tombol ul li a:hover {
    color:red;
}

nav .kiri .tombol ul ul ul{
    left:100%;
    top: 0;
    width: 200px;
}

/* kanan */
nav .kanan{
    width: 500px;
    float: right;
}

nav .kanan .info {
    width: 700px;
    padding-top: 30px;
}

nav .kanan .info .kirik{
    width: 300px;
}

nav .kanan .info .kirik .gambar img{
    width: 20px;
    padding-top: 24px;
    float: left;
}

nav .kanan .info .kirik .telp h4{
    margin-top: 20px;
    font-size: 20px;
    float: left;
    display: inline;
    padding: 5px 5px 0 4px;
    border-right: 2px solid black;
}

nav .kanan .info .kanank{
    width: 400px;
    margin-left: 10px; 
}

nav .kanan .info .kanank img{
    padding-top: 20px;
    width: 30px;
    height: auto;
    margin-right: 5px;
    float: left;
    padding-left: 20px;
}

nav .kanan .info .kanank img:hover{
    filter: invert(65%) sepia(16%) saturate(5417%) hue-rotate(356deg) brightness(107%) contrast(91%);
    transition: 1s;
}

nav .kanan .search{
    width: 100px;
}

nav .kanan .search img{
    width: 30px;
    bottom: 50px;
    left: 400px;
    position:relative;
    background-color: orange;
    padding: 20px;
    float: right;
}

/* about */

article{
    width: 100%;
}

article .about .place .gambar .foto img{
    height: 700px;
    object-fit:cover;
    width: 100%;
    filter: brightness(50%);
}

article .about .place .font h1{
    font-family:'Brush Script MT', cursive;
    position: absolute;
    font-size: 90px;
    top: 300px;
    right: 50%;
    transform: translate(50%,0);
    color: white;
}

article .about .place .font h3{
    font-family:Garamond, serif;
    position: absolute;
    font-size: 35px;
    top: 430px;
    right: 50%;
    transform: translate(50%,0);
    color: white;
}

/* info */
article .info{
    width: 100%;
    height: 3100px;
}

article .info .contain{
    width: 1000px;
    right: 50%;
    transform: translate(50%,0);
    position: absolute;
    margin-top: 60px;
}

article .info .contain .kiri{
    width: 550px;
}

article .info .contain .kiri .gambar{
    width: 500px;
    background-color: whitesmoke;
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

article .info .contain .kiri .gambar img{
    width: 500px;
}

article .info .contain .kanan{
    margin-left: 10px;
}

article .info .contain .kiri .gambar .detail img{
    width: 10px;
}

article .info .isi{
    margin-top: -20px;
    margin-left: 20px;
}

article .info .contain .kiri .gambar .but{
    background-color: rgb(211, 80, 80);
    width: 30px;
    padding: 10px 20px;
    position: relative;
    bottom: 40px;
    left: 20px;
    border-radius: 5px;
    
}

article .info .contain .kiri .gambar .but:hover{
    background: none;
    transition: 1s;
    color:rgb(211, 80, 80);
}

article .info .contain .kiri .gambar .but:hover > a{
    color:rgb(211, 80, 80);
    transition: 1s;
}

article .info .contain .kiri .gambar .but a{
    text-decoration: none;
    width: 1px;
    position: relative;
    text-align: center;
    color: white;
    font-family: "Rubik",sans-serif;
}

article .info .isi a{
    font-size: 24px;
    font-family: "Rubik",sans-serif;
    text-decoration: none;
    color: black;
}

article .info .isi p{
    font-size: 15px;
    font-family: "Rubik",sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

article .info .isi .detail {
    display: flex;
}

article .info .isi .detail a{
    font-size: 15px;
    font-family: "Rubik",sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

article .info .isi .detail .kiri{
    border-right: 1px solid gray;
    width: 140px;
}

article .info .isi a:hover{
    color: red;
    transition: 1s;
}

article .info .isi .detail a:hover > img{
    filter: invert(28%) sepia(100%) saturate(1517%) hue-rotate(343deg) brightness(79%) contrast(89%);filter: invert(28%) sepia(100%) saturate(1517%) hue-rotate(343deg) brightness(79%) contrast(89%);
    transition: 1s;
}

article .kiri .button {
    width: 400px;
    margin-left: 80px;
    margin-top: 30px;
}

article .button a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 15px;
    background-color: white;
    border: 1px solid black;
}

article .button a:hover{
    color: red;
    transition: 1s;
}

article .button .angka{
    display: flex;
}

article .button .kiri{
    position: relative;
    left: 70px;
    top: 49px;
}

article .button .angka .angka1{
    position: relative;
    left: 120px;
    top: 20px;
}

article .button .angka .angka2{
    position: relative;
    left: 125px;
    top: 20px;
}

article .button .angka .angka2 a{
    background-color: lightblue;
}

article .button .kanan{
    position: relative;
    bottom: 9px;
    left: 210px;
}


/* kanan */

article .info .contain .kanan2{
    width: 500px;
}

article .info .contain {
    display: flex;
}

/* search */

article .info .contain .kanan2 .search{
    background-color: lightblue;
    height: 200px;
}

article .info .contain .kanan2 .search img{
   width: 20px;
   position: relative;
    top: 52px;
    left: 5px;
    padding: 16px 14px;
    background: white;
}

article .info .contain .kanan2 .search input{
    width: 300px;
    padding: 20px;
    position: relative;
    top: 30px;
    left: 60px;
}

article .info .contain .kanan2 .search .button a{
    padding: 20px 122px;
    position: relative;
    top: 60px;
    left: 60px;
    text-decoration: none;
    color: white;
    background-color: aqua;
    text-align: center;
}

article .info .contain .kanan2 .search .button a:hover{
    background-color:rgb(211, 80, 80);
    transition: 1s;
}

/* category */

article .info .contain .kanan2 .category {
    background-color: lightblue;
    height: 400px;
    margin-top: 30px;
    padding: 20px;
}

article .info .contain .kanan2 .category h2{
    font-family: "Rubik",sans-serif;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin-left: 20px;
}

article .info .contain .kanan2 .category .isi{
    margin-top: 30px;
}

article .info .contain .kanan2 .category .isi a{
    display: block;
    margin-bottom: 30px;
    font-size: 17px;
    border-bottom: 1px solid gray;
    color: gray;
}

article .info .contain .kanan2 .category .isi a:hover{
    color: rgb(211, 80, 80);
    transition: 1s;
}

/* recentpost */

article .info .contain .kanan2 .recentpost {
    background-color: lightblue;
    height: 530px;
    margin-top: 30px;
    padding: 20px;
}

article .info .contain .kanan2 .recentpost img{
    width: 120px;
    margin-bottom: 30px;
}

article .info .contain .kanan2 .recentpost h2{
    font-family: "Rubik",sans-serif;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin-left: 20px;
}

article .info .contain .kanan2 .recentpost .isi{
    margin-top: 30px;
}

article .info .contain .kanan2 .recentpost .isi a{
    position: absolute;
    left: 700px;
    font-size: 20px;
}

article .info .contain .kanan2 .recentpost .isi a:hover{
    color: red;
    transition: 1s;
}

article .info .contain .kanan2 .recentpost .isi p{
    position: absolute;
    left: 700px;
    font-size: 17px;
}

article .info .contain .kanan2 .recentpost .isi .gambar1 a{
    top: 820px;
}

article .info .contain .kanan2 .recentpost .isi .gambar2 a{
    top: 940px;
}

article .info .contain .kanan2 .recentpost .isi .gambar3 a{
    top: 1050px;
}

article .info .contain .kanan2 .recentpost .isi .gambar4 a{
    top: 1170px;
}

article .info .contain .kanan2 .recentpost .isi .gambar1 p{
    top: 830px;
}

article .info .contain .kanan2 .recentpost .isi .gambar2 p{
    top: 950px;
}

article .info .contain .kanan2 .recentpost .isi .gambar3 p{
    top: 1060px;
}

article .info .contain .kanan2 .recentpost .isi .gambar4 p{
    top: 1180px;
}

/* tagcloud */

article .kanan2 .tagcloud{
    background-color: lightblue;
    height: 280px;
    margin-top: 30px;
    padding: 20px;
}

article .info .contain .kanan2 .tagcloud h2{
    font-family: "Rubik",sans-serif;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin-left: 20px;
}

article .info .contain .kanan2 .tagcloud .isi{
    margin-top: 30px;
}

article .info .contain .kanan2 .tagcloud .isi a{
    margin-right: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid gray;
    padding: 4px 10px;
}

article .info .contain .kanan2 .tagcloud .isi .col{
    margin-bottom: 20px;
}

article .info .contain .kanan2 .tagcloud .isi a:hover{
    background-color: rgb(211, 80, 80);
    transition: 1s;
    color: white;
}

/* igfeeds */

article .kanan2 .igfeeds{
    background-color: lightblue;
    height: 290px;
    margin-top: 30px;
    padding: 20px;
}

article .info .contain .kanan2 .igfeeds h2{
    font-family: "Rubik",sans-serif;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin-left: 20px;
}

article .info .contain .kanan2 .igfeeds img{
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
}

/* newsletter */

article .kanan2 .newsletter{
    background-color: lightblue;
    height: 250px;
    margin-top: 30px;
    padding: 20px;
}

article .info .contain .kanan2 .newsletter h2{
    font-family: "Rubik",sans-serif;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin-left: 20px;
}

article .info .contain .kanan2 .newsletter input{
    width: 300px;
    padding: 20px;
    position: relative;
    top: 30px;
    left: 40px;
}

article .info .contain .kanan2 .newsletter .button a{
    padding: 20px 103px;
    position: relative;
    top: 60px;
    left: 40px;
    text-decoration: none;
    color: white;
    background-color: aqua;
    text-align: center;
}

article .info .contain .kanan2 .newsletter .button a:hover{
    background-color:rgb(211, 80, 80);
    transition: 1s;
}

/* footer */
footer .kotakfoot{
    width: 100%;
    height: 630px;
    right: 50%;
    background-color:wheat;
    float: left;
}

footer .kotakfoot .contain{
    width: 1200px;
    height: 500px;
    right: 50%;
    transform: translate(50%,0);
    position: absolute;
    margin-top: 120px;
}

footer .kotakfoot .contain .info img{
    width: 190px;
    margin-bottom: 10px;
}

footer .kotakfoot .contain .text{
    display: block;
}

footer .kotakfoot .contain .info p{
    width: 300px;
    font-size: 20px;
    color: gray;
}

footer .kotakfoot .contain .info a{
    width: 300px;
    font-size: 20px;
    text-decoration: none;
    color: gray;
    display: block;
}

footer .kotakfoot .contain .info a:hover{
    color: purple;
    transition: 1s;
}

footer .kotakfoot .contain .info .gambar{
    display: flex;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}

footer .kotakfoot .contain .info .gambar img{
    width: 30px;
}

footer .kotakfoot .contain .info .gambar img:hover{
    filter: invert(65%) sepia(16%) saturate(5417%) hue-rotate(356deg) brightness(107%) contrast(91%);
    transition: 1s;
}

footer .kotakfoot .contain .company{
    width: 300px;
    position: relative;
    left: 320px;
    bottom: 250px;
}

footer .kotakfoot .contain .company h2{
    margin-bottom: 20px;
}


footer .kotakfoot .contain .company a{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: gray;
}

footer .kotakfoot .contain .company a:hover{
    color: purple;
    transition: 1s;
}

footer .kotakfoot .contain .popdest{
    width: 300px;
    position: relative;
    left: 520px;
    bottom: 430px;
}

footer .kotakfoot .contain .popdest h2{
    margin-bottom: 20px;
}

footer .kotakfoot .contain .popdest .kiri {
    width: 100px;
}

footer .kotakfoot .contain .popdest a{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: gray;
}

footer .kotakfoot .contain .popdest a:hover{
    color: purple;
    transition: 1s;
}

footer .kotakfoot .contain .popdest .kanan {
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 134px;
}

footer .kotakfoot .contain .instagram{
    width: 400px;
    position: relative;
    left: 780px;
    bottom: 746px;
}

footer .kotakfoot .contain .instagram h2{
    margin-bottom: 20px;
}

footer .kotakfoot .contain .instagram img{
    width: 80px;
    border-radius: 5px;
    margin-right: 20px;
}


footer .kotakfoot .contain .cp{
    width: 1140px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-598%);
    padding: 30px;
    border-top: 1px solid gray;
}

footer .kotakfoot .contain .cp p{
    text-align: center;
    padding-bottom: 3px;
}

footer .kotakfoot .contain .cp a{
    text-decoration: none;
    color: red;
}
